* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::selection {
  background-color: rgba(5, 5, 5, 0.5);
  backdrop-filter: blur(5px);
  color: #fff;
}

header h2 {
  color: gold;
  text-align: center;
  padding: 15px 10px;
  border-radius: 0 0 30px 30px;
  background-color: rgba(228, 113, 113, 0.678);
  backdrop-filter: blur(20px);
  user-select: none;
  display: block;
  width: 100%;
  top: 0;
  -webkit-position: sticky;
  position: sticky;
  position: fixed;
}

p {
  margin: 65px 5px;
  background-color: rgb(115, 153, 223);
  color: purple;
  text-align: center;
  padding: 25px;
  border-radius: 30px 30px 10px 10px;
  justify-content: center;
}

p span {
  float: right;
  background-color: cornflowerblue;
  padding: 10px;
  border-radius: 0 0 20px 20px;
  font-weight: bold;
}

p kbd {
  background-color: cornflowerblue;
  color: yellow;
  font-weight: bold;
  text-decoration: underline darkseagreen 1.5px;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  user-select: none;
  width: 100%;
  border-bottom: 3px solid darkslateblue;
}

footer button {
  background-color: #333;
  color: wheat;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 15px;
  display: block;
  float: left;
  width: 25%;
  border-right: 0.5px solid #888;
  cursor: pointer;
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: transparent;
}

.active {
  font-weight: bold;
  background-color: #666;
  border-bottom: 3px solid cornflowerblue;
  border-bottom-right-radius: 20px;
  transition: 0.5s;
}

footer button:hover {
  font-weight: bold;
  background-color: #666;
  border-bottom: 3px solid #ddd;
}

footer button:active {
  font-weight: bold;
  background-color: #666;
  border-bottom: 2px solid #ddd;
}

footer button:nth-child(4):active {
  font-weight: bold;
  background-color: #666;
  border-bottom: 2px solid #ddd;
}

footer button:nth-child(1) {
  border-top-left-radius: 15px;
}

footer button:nth-child(1) {
  border-top-right-radius: 15px;
}

.first-song {
  margin-top: 65px;
  background-color: rgb(27, 97, 93);
  padding: 20px 15px;
  border-radius: 30px 30px 10px 10px;
  margin-bottom: 10px;
  display: block;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.first-song span {
  background-color: rgb(24, 103, 250);
  color: #fff;
  padding: 10px 12px;
  line-height: 35px;
  border-radius: 10px 15px;
}

.btn {
  padding: 10px 15px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgba(105, 103, 212, 0.726);
  color: #fff;
  user-select: none;
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: transparent;
}

.btn:active {
  background-color: rgba(204, 114, 114, 0.658);
}

.sec-song {
  background-color: rgba(189, 14, 180, 0.486);
  padding: 20px 15px;
  border-radius: 10px 10px 30px 30px;
  margin-top: 10px;
  display: block;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.sec-song span {
  background-color: rgba(49, 202, 156, 0.637);
  color: #fff;
  padding: 10px 12px;
  line-height: 35px;
  border-radius: 10px 15px;
}

.fa {
  cursor: pointer;
  user-select: none;
  color: rgb(255, 255, 255);
  padding: 15px 28px;
  margin: 8px;
  text-align: center;
  background-color: rgb(245, 6, 6);
  border-radius: 10px;
  /* border: 0.5px solid rgb(221, 117, 139); */
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: transparent;
}

.fa:active {
  background-color: rgba(122, 151, 247, 0.205);
}

audio {
  outline: none;
  width: 100%;
  display: block;
}

/* audio::-webkit-media-controls-play-button {
  color: #fff;
  border-radius: 50%;
  background-color: rgba(113, 113, 247, 0.932);
} */

/* audio::-webkit-media-controls-timeline-container {
  background-color: #fff;
}

audio::-webkit-media-controls-mute-button {
  background-color: rgba(168, 168, 250, 0.719);
  border-radius: 20px;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  background-color: rgba(248, 244, 247, 0.856);
  color: rgb(252, 10, 10);
  padding: 5px;
}

audio::-webkit-media-controls-panel {
  background-color: rgba(36, 40, 87, 0.685);
}

audio::-webkit-media-controls-timeline {
  background-color: rgba(35, 126, 179, 0.63);
  border-radius: 20px;
}

audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider {
  background-color: rgb(199, 155, 189);
}

audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button {
  background-color: #fff;
  color: #fff;
} */

/* 
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button,  */

.music-player #playlist {
  padding: 12px 10px;
  margin-bottom: 100px;
  margin-left: 8px;
  /* margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; */
}

.music-player #playlist li {
  background-color: rgba(17, 63, 63, 0.534);
  /* padding: 8px 5px; */
  display: block;
  list-style-type: none;
  padding: 3px;
}

.music-player #playlist li:nth-child(1) {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.music-player #playlist li:nth-child(7) {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

#playlist li a {
  color: rgb(13, 144, 177);
  background: none;
  font-size: smaller;
  text-decoration: none;
  padding: 8px 5px;
  margin: 0;
  width: fit-content;
  display: block;
  user-select: none;
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: transparent;
}

.music-player #playlist li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 8px 5px;
}

#playlist .current-song a {
  font-size: medium;
  color: rgb(147, 218, 241);
  margin-left: 15px;
  border-bottom: 2px solid rgba(202, 31, 31, 0.918);
  border-radius: 20px 0;
  padding: 8px 5px;
  width: fit-content;
}

div.copyright {
  margin-top: 5px;
  background-color: rgba(243, 50, 50, 0.11);
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-size: small;
}

@media only screen and (orientation: portrait) {
  .first-song {
    width: initial;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .sec-song {
    width: initial;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  audio {
    width: initial;
    display: block;
    margin: 20px 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  footer button {
    font-size: small;
  }
}

/* @media only screen and (orientation: landscape) {
} */

/* Extra small devices (phones, 600px and down)  */
@media only screen and (max-width: 600px) {
  .first-song {
    width: initial;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .sec-song {
    width: initial;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  audio {
    width: 75%;
    display: block;
    margin: 20px 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  footer button {
    font-size: small;
  }

  .music-player #playlist .current-song {
    font-size: 18px;
  }

  .music-player #playlist li {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    /* font-size: medium; */
  }

  .music-player #playlist li a {
    font-size: 14px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .first-song {
    width: 75%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .sec-song {
    width: 75%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  p {
    margin: 65px 5px;
    width: initial;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: cornflowerblue;
    color: purple;
    text-align: center;
    padding: 25px;
    border-radius: 30px 30px 10px 10px;
    align-items: center;
  }

  audio {
    width: 50%;
    display: block;
    margin: 20px 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  footer button {
    font-size: medium;
  }

  .music-player #playlist li {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: medium;
  }

  .music-player #playlist li a {
    font-size: medium;
  }

  .music-player #playlist .current-song {
    font-size: larger;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .first-song {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 16px;
  }

  .sec-song {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 16px;
  }

  p {
    margin: 65px 5px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: cornflowerblue;
    color: purple;
    text-align: center;
    padding: 25px;
    border-radius: 30px 30px 10px 10px;
    align-items: center;
  }

  audio {
    width: 40%;
    display: block;
    margin: 20px 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  footer button {
    font-size: medium;
  }

  .music-player #playlist li {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: medium;
  }

  .music-player #playlist li a {
    font-size: medium;
  }

  .music-player #playlist .current-song {
    font-size: larger;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .first-song {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
  }

  .sec-song {
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  audio {
    width: 35%;
    display: block;
    margin: 20px 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  footer button {
    font-size: medium;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .first-song {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
  }

  .sec-song {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  audio {
    width: 30%;
    display: block;
    margin: 20px 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  footer button {
    font-size: medium;
  }
}
